# Final Project : Analyzing Historical Stock/Revenue Data and Building a Dashboard

### Author: Trịnh Huy Hiệp

Question 1 - Extracting Tesla Stock Data Using yfinance - 2 Points

In [ ]:
!pip install yfinance
!pip install pandas
!pip install requests
!pip install bs4
!pip install plotly

In [275]:
import yfinance as yf
import pandas as pd
import requests
from bs4 import BeautifulSoup

In [276]:
tesla = yf.Ticker("TSLA")

In [277]:
tesla_data = tesla.history(period="max")

In [278]:
tesla_data.reset_index(inplace=True)
tesla_data.head(5)

,Date,Open,High,Low,Close,Volume,Dividends,Stock Splits
0,2010-06-29 00:00:00-04:00,1.266667,1.666667,1.169333,1.592667,281494500,0.0,0.0
1,2010-06-30 00:00:00-04:00,1.719333,2.028000,1.553333,1.588667,257806500,0.0,0.0
2,2010-07-01 00:00:00-04:00,1.666667,1.728000,1.351333,1.464000,123282000,0.0,0.0
3,2010-07-02 00:00:00-04:00,1.533333,1.540000,1.247333,1.280000,77097000,0.0,0.0
4,2010-07-06 00:00:00-04:00,1.333333,1.333333,1.055333,1.074000,103003500,0.0,0.0

Question 2 - Extracting Tesla Revenue Data Using Webscraping - 1 Points

We will extract Tesla stock data

https://www.macrotrends.net/stocks/charts/TSLA/tesla/revenue

In [279]:
url= "https://www.macrotrends.net/stocks/charts/TSLA/tesla/revenue"
html_data = requests.get(url).text

In [280]:
soup = BeautifulSoup(html_data,"html.parser")

In [300]:
tesla_revenue= pd.DataFrame(columns=["Date","Revenue"])
tesla_revenue.dropna(inplace=True)
tesla_revenue = tesla_revenue[tesla_revenue['Revenue'] != ""]
print(tesla_revenue)

Empty DataFrame
Columns: [Date, Revenue]
Index: []

In [296]:
tesla_revenue.tail(5)

Empty DataFrame
Columns: [Date, Revenue]
Index: []

Question 3 - Extracting GameStop Stock Data Using yfinance - 2 Points

In [283]:
gme = yf.Ticker("GME")

In [284]:
gme_data = gme.history(period="max")

In [285]:
gme_data.reset_index(inplace=True)
gme_data.head()

,Date,Open,High,Low,Close,Volume,Dividends,Stock Splits
0,2002-02-13 00:00:00-05:00,1.620128,1.693350,1.603296,1.691666,76216000,0.0,0.0
1,2002-02-14 00:00:00-05:00,1.712707,1.716074,1.670626,1.683250,11021600,0.0,0.0
2,2002-02-15 00:00:00-05:00,1.683250,1.687458,1.658002,1.674834,8389600,0.0,0.0
3,2002-02-19 00:00:00-05:00,1.666418,1.666418,1.578047,1.607504,7410400,0.0,0.0
4,2002-02-20 00:00:00-05:00,1.615921,1.662210,1.603296,1.662210,6892800,0.0,0.0

Question 4 - Extracting GameStop Revenue Data Using Webscraping - 1 Points

We will extract GameStop stock data

https://www.macrotrends.net/stocks/charts/GME/gamestop/revenue

In [286]:
url= "https://www.macrotrends.net/stocks/charts/GME/gamestop/revenue"
html_data = requests.get(url).text

In [287]:
soup = BeautifulSoup(html_data,"html.parser")

In [292]:
gme_revenue= pd.DataFrame(columns=["Date","Revenue"])
gme_revenue.dropna(inplace=True)
gme_revenue = gme_revenue[gme_revenue['Revenue'] != ""]
print(gme_revenue)

Empty DataFrame
Columns: [Date, Revenue]
Index: []

In [293]:
gme_revenue.tail(5)

Empty DataFrame
Columns: [Date, Revenue]
Index: []

Question 5 - Tesla Stock and Revenue Dashboard - 2 Points

Define Graphing Function

In [301]:
def make_graph(stock_data, revenue_data, stock):
    fig = make_subplots(rows=2, cols=1, shared_xaxes=True, subplot_titles=("Historical Share Price", "Historical Revenue"), vertical_spacing = .3)
    fig.add_trace(go.Scatter(x=pd.to_datetime(stock_data.Date, infer_datetime_format=True), y=stock_data.Close.astype("float"), name="Share Price"), row=1, col=1)
    fig.add_trace(go.Scatter(x=pd.to_datetime(revenue_data.Date, infer_datetime_format=True), y=revenue_data.Revenue.astype("float"), name="Revenue"), row=2, col=1)
    fig.update_xaxes(title_text="Date", row=1, col=1)
    fig.update_xaxes(title_text="Date", row=2, col=1)
    fig.update_yaxes(title_text="Price ($US)", row=1, col=1)
    fig.update_yaxes(title_text="Revenue ($US Millions)", row=2, col=1)
    fig.update_layout(showlegend=False,
    height=900,
    title=stock,
    xaxis_rangeslider_visible=True)
    fig.show()

In [ ]:
make_graph(tesla_data,tesla_revenue,"Tesla Stock Data")

Question 6 - GameStop Stock and Revenue Dashboard- 2 Points

In [ ]:
make_graph(gme_data,gme_revenue,"GameStop Stock Data")